<robot name="mycar" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- 摄像头部件 -->
    <!-- 1.参数 -->
    <!-- 
        参数：
            连杆属性：厚度、宽度、高度
            关节属性：x y z
     -->
    
    <xacro:property name="" value="" /> <!--  -->
    <xacro:property name="" value="" /> <!--  -->
    <xacro:property name="" value="" /> <!--  -->
    <xacro:property name="" value="" /> <!--  -->
    <xacro:property name="" value="" /> <!--  -->
    <xacro:property name="" value="" /> <!--  -->


    <!-- 2.设计连杆和关节 -->

</robot>